{% extends "Main/base.html" %}
{% block title %}
    Lista de Sedes - PythonApp
{% endblock title %}
{% block content_title %}
    Listado de Sedes
{% endblock content_title %}
{% block content %}
<a href="{% url "home:create_branch" %}"
       class="btn btn-outline-primary rounded-pill px-4 mb-4">Crear Sede</a>
    {% if branches %}
        <table class="table table-hover table-striped align-middle text-center">
            <thead class="table-light">
                <tr>
                    <th>Nombre</th>
                    <th>País</th>
                    <th>Creado</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                {% for branch in branches %}
                    <tr>
                        <td>{{ branch.name }}</td>
                        <td>{{ branch.country }}</td>
                        <td>{{ branch.created_at|date:"d M Y H:i" }}</td>
                        <td>
                            {% if branch.is_active %}
                                <span class="badge bg-success">Sí</span>
                            {% else %}
                                <span class="badge bg-danger">No</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning text-center" role="alert">No hay sedes registradas.</div>
    {% endif %}
{% endblock content %}
