{% extends "Main/base.html" %}
{% block title %}
    Lista de Cursos - PythonApp
{% endblock title %}
{% block content_title %}
    Listado de Cursos
{% endblock content_title %}
{% block content %}
    {% if courses %}
        <table class="table table-hover table-striped align-middle text-center">
            <thead class="table-light">
                <tr>
                    <th>Titulo</th>
                    <th>Descripcion</th>
                    <th>Creado</th>
                    <th>Cupo</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.title }}</td>
                        <td>{{ course.description }}</td>
                        <td>{{ course.created_at|date:"d M Y H:i" }}</td>
                        <td>
                           {{ course.users_qty }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning text-center" role="alert">No hay cursos registrados.</div>
    {% endif %}
{% endblock content %}
