{% extends "Main/base.html" %}
{% block title %}Crear Usuarios - PythonApp{% endblock title %}
        {% block content_title %}
        Crear Usuarios
        {% endblock content_title %}
        
{% block content %}
            <form action="{% url 'home:create_user' %}" method="POST">
                {% csrf_token %}
                {{ userForm }}
                <input class="btn btn-outline-primary rounded-pill px-4"
                       type="submit"
                       value="Crear">
                <a href="{% url 'Main:index' %}"
                   class="btn btn-outline-secondary rounded-pill px-4">Cancelar</a>
            </form>
            {% endblock content %}
      