<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<nav>
			<a href='{% url "index" %}'> Inicio</a>
			<a href='{% url "create_pizza" %}'> Crear pizza</a>
			<a href='{% url "pizza_list" %}'> Lista de pizzas</a>
		</nav>
		<h1>Lista de pizzas de pizzas</h1>
		{% if pizzas %}
		<ul>
			{% for pizza in pizzas %}
			<li>{{ pizza.name }} - ${{ pizza.price }} - {{ pizza.size }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No hay pizzas disponibles</p>
		{% endif %}
	</body>
</html>
