{% extends "base.html" %}
{% block title %}
    Perfil de {{ user.username }}
{% endblock title %}
{% block content_title %}
    Perfil de {{ user.username }}
{% endblock content_title %}
{% block content %}
    {% if user.first_name %}<p>Nombre: {{ user.first_name }}</p>{% endif %}
    {% if user.last_name %}<p>Apellido: {{ user.last_name }}</p>{% endif %}
    {% if user.email %}<p>Email: {{ user.email }}</p>{% endif %}
    {% if user.infoextra.avatar %}
        <p>
            Avatar:
            <img src="{{ user.infoextra.avatar.url }}"
                 alt="Avatar"
                 width="100px"
                 height="100px" />
        </p>
    {% endif %}
    {% if user.infoextra.hobbies %}<p>Hobbies: {{ user.infoextra.hobbies }}</p>{% endif %}
{% endblock content %}
